html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#section1 {
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
}

#section1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh; /* Adjust this value to control the height of the gradient */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    pointer-events: none;
}

#section-mission {
    background: url('background1.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

#section-mission::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    pointer-events: none;
}

.mission-content {
    color: white;
    font-family: 'Inter', sans-serif;
    position: relative; /* Ensure the text is positioned correctly */
    z-index: 0; /* Ensure the text is behind the overlay */
    opacity: 0; /* Start with the text hidden */
    transform: translateY(400px); /* Start position for the rise-up effect */
    transition: opacity 0.75s ease-out, transform 0.75s ease-out; /* Smooth transition */
}

.mission-content.visible {
    opacity: 1; /* Make the text visible */
    transform: translateY(0); /* Move the text to its final position */
}

#section2 {
    background-color: #2e2e2e; /* Dark gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#section3, #section4 {
    background-color: white; /* You can change this to any color you prefer */
}

.title-container {
    position: relative;
}

.pitch-deck-title {
    position: absolute;
    top: 90px;
    left: 90px;
    font-family: 'Inter', sans-serif;
    font-weight: 500; /* Ensure this matches the loaded font weight */
    font-size: 100px;
    color: white;
    margin: 0;
    line-height: 110%;
    letter-spacing: -0.06em; /* Adjusted letter spacing */
}

.logo-image { 
    position: absolute;
    top: 325px; /* Adjust as needed */
    left: 90px;
    max-width: 200px; /* Adjust as needed */
    height: auto;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.centered-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: white;
    line-height: 156%;
    letter-spacing: 3%;
    max-width: 800px; /* Optional: to limit the width of the text block */
    opacity: 0;
    transform: translateY(50px); /* Start position for the parallax effect */
    transition: opacity 0.5s ease-out;
}

.centered-text.visible {
    opacity: 1;
}

#image-sequence {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#image-sequence img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

.empower-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500; /* Medium weight */
    font-size: 100px;
    letter-spacing: -0.05em; /* -5% letter spacing */
    background: linear-gradient(to right, #7BDCF1, #A3C7F9, #CBA5D1, #F8719D, #FF6192);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap; /* Ensure the text stays on a single line */
}

#section-meet-sekai {
    background: url('meet-sekai.webp') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.typed-text {
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-50%);
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -0.03em; /* -3% letter spacing */
    color: black;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black; /* Cursor effect */
    animation: blink-caret 0.75s step-end infinite;
}

.typed-text.finished::after {
    display: none;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}